@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Oque você precisa?</h1>

    <a href="Fornecedor" class="btn-primary btn" >Sou um Fornecedor</a>
    <a href="Empresa" class="btn-primary btn" >Sou uma Empresa</a>
    
</div>
