@{

    ViewData["Title"] = "Cadastrar Empresa";
}

<form asp-action="Cadastrar" asp-controller="Empresa" method="post">
    <label>Cnpj</label>
    <input type="text" name="Cnpj" placeholder="Digite seu Cnpj" />
    <label>Nome</label>
    <input type="text" name="Nome" placeholder="Digite seu Nome" />
    <label for="uf">Estado</label>
    <select name="Uf" id="uf">
        <option value="">Selecione Seu Estado</option>
        <option value="RO">RO</option>
        <option value="AC">AC</option>
        <option value="AM">AM</option>
        <option value="RR">RR</option>
        <option value="PA">PA</option>
        <option value="AP">AP</option>
        <option value="TO">TO</option>
        <option value="MA">MA</option>
        <option value="PI">PI</option>
        <option value="CE">CE</option>
        <option value="RN">RN</option>
        <option value="PB">PB</option>
        <option value="PE">PE</option>
        <option value="AL">AL</option>
        <option value="SE">SE</option>
        <option value="BA">BA</option>
        <option value="MG">MG</option>
        <option value="ES">ES</option>
        <option value="RJ">RJ</option>
        <option value="SP">SP</option>
        <option value="PR">PR</option>
        <option value="SC">SC</option>
        <option value="RS">RS</option>
        <option value="MS">MS</option>
        <option value="MT">MT</option>
        <option value="GO">GO</option>
        <option value="DF">DF</option>
    </select>
    <input type="submit" value="Cadastrar" />
</form>