@model List<Empresa>
@{
    ViewData["Title"] = "Empresas";
}
@if (Model == null)
{
    <h1> Diga o nome da sua Empresa</h1>
<form asp-action="Index" asp-controller="Empresa" method="post">
    <input type="text" name="Empresa" placeholder="Digite o nome da sua empresa" />
    <input type="submit" value="Buscar" />
</form>

<a class="btn-primary" href="Empresa/Cadastrar"> Sua Empresa ainda não possui um cadastro</a>


}
@if (Model != null)
{
    
    foreach (var empresa in Model)
    {
        <p>@empresa.Nome</p>
        <p>@empresa.Cnpj</p>
        <p>@empresa.Uf</p>
        <form asp-action="Fornecedores" asp-controller="Empresa" method="post" >
            <h2>Fornecedores da @empresa.Nome</h2>
            <label id="Fornecedor" >Busca Fornecedores Por</label>
            <select name="Fornecedores" id="Fornecedor">
            <option value="">Selecione cpf ou cnpj</option>
            <option value="Cpf">cpf</option>
            <option value="Cnpj">cnpj</option>
            </select>
            <input type="submit" value="Procurar"/>
        </form>
    }
}