@model List<Empresa>
<form asp-action="CadastrarComCpf" asp-controller="Fornecedor" method="post">
    <label>Cpf</label>
    <input required type="text" name="Cpf" placeholder="Digite seu Cpf" />
     <label>Rg</label>
    <input required type="text" name="Rg" placeholder="Digite seu Rg" />
     <label>Data De Nascimento</label>
    <input required type="date" name="DataNascimento"/>
    <label>Nome</label>
    <input required type="text" name="NomeFornecedor" placeholder="Digite seu Nome" />
    <div id="InputTelefone">
        <label>Telefone(s)</label>
        <input required type="text" name="Telefone" placeholder="Digite seu Telefone" />
    </div>
    @foreach (var empresa in Model)
    {
        <label>Empresa</label>
        <select name="Nome" id="Empresa">
            <option value="">Selecione a Empresa</option>
            <option value="@empresa.Nome">@empresa.Nome</option>
        </select>
    }
    <input type="submit" value="Cadastrar" />
</form>
<button onclick="IncrementarInputNumero()" class="btn btn-info">Possui Mais Telefones</button>

<script>

    function IncrementarInputNumero(){

        var d = document.getElementById("InputTelefone");
        d.innerHTML+= "<input type='text' name='Telefone2' placeholder='Digite seu Telefone' />"
         d.innerHTML+= "<input type='text' name='Telefone3' placeholder='Digite seu Telefone' />"
          d.innerHTML+= "<input type='text' name='Telefone4' placeholder='Digite seu Telefone' />"


    }
</script>