@{
    ViewData["Title"] = "Fornecedor";
}
<form asp-action="FornecedorComCnpj" asp-controller="Fornecedor" method="post">\
    <label for="Cnpj" > Digite seu cnpj </label>
    <input id="Cnpj" name="Cnpj" type="text" placeholder="digite seu cnpj aqui"/>
    <input type="submit" value="Procurar" />
</form>